<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkinSync"
        tools:targetApi="31">
        <activity
            android:name=".activity.admin.CreateUserAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.DetailUserAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.UserAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activity.users.article.details.ArticleDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.users.article.ArticleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.CreateProductActivity"
            android:exported="true" />
        <activity
            android:name=".activity.users.listproduct.ListProductActivity"
            android:exported="true" />
        <activity
            android:name=".activity.users.scheduling.night.NightSchedulingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.users.scheduling.morning.MorningSchedulingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.ProductAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.DetailArticleAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activity.users.scan.result.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".activity.users.scan.ScanActivity"
            android:exported="true" />
        <activity
            android:name=".activity.admin.CreateArticleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.ArticleAdminActivity"
            android:exported="false" />
        <activity
            android:name=".activity.users.profile.edit.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.users.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.users.welcome.WelcomeActivity"
            android:exported="true">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity
            android:name=".activity.users.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.users.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>